<%= render partial: 'shared/page_title', locals: { page_title: 'ご注文ありがとうございました。' } %>

<main class="main">
  <div class="wrap">
    <div class="thanks">
      <p class="thanks__txt">ありがとうございます。注文が確定されました。</p>
      <%= link_to '買い物を続ける', root_path, class: 'thanks__btn' %>
    </div>
  </div>
</main>
